.css-wdtwov-MuiGrid-root {
  margin-left: 33px !important;
}

select {
  font: inherit;
  margin: 1em !important;
  padding: 20.5px 14px;
  border-radius: 4px;
  color: rgba(108, 108, 108, 108);
  border-style: solid;
  overflow: hidden;
  min-width: 48.7%;
  border-color: rgba(0, 0, 0, 0.23);
  background-color: white;
}

select:hover {
  cursor: pointer;
  border-color: black;
  animation-duration: 10ms;
}

.region-country {
  margin-top: -13px;
  margin-left: -15px;
  display: flex;
  width: 100%;
}
@media screen and (device-width: 375px) and (device-height: 812px) {
  select {
    min-width: 99.7% !important;
    width: 10px;
  }
  .region-country {
    margin-left: -15px;
    display: block;
    width: 100%;
  }
}
@media screen and (device-width: 414px) and (device-height: 736px) {
  select {
    min-width: 99.7% !important;
    width: 10px;
  }
  .region-country {
    margin-left: -15px;
    display: block;
    width: 100%;
  }
}

@media screen and (device-width: 375px) and (device-height: 667px) {
  select {
    min-width: 95.7% !important;
    width: 10px;
  }
  .region-country {
    margin-left: -15px;
    display: block;
    width: 100%;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) {
  select {
    min-width: 100% !important;
    width: 10px;
  }
  .region-country {
    margin-left: -15px;
    display: block;
    width: 100%;
  }
}
@media screen and (device-width: 411px) and (device-height: 823px) {
  select {
    min-width: 100% !important;
    width: 10px;
  }
  .region-country {
    margin-left: -15px;
    display: block;
    width: 100%;
  }
}
@media screen and (device-width: 411px) and (device-height: 731px) {
  select {
    min-width: 100% !important;
    width: 10px;
  }
  .region-country {
    margin-left: -15px;
    display: block;
    width: 100%;
  }
}

@media screen and (device-width: 320px) and (device-height: 568px) {
  select {
    min-width: 100% !important;
    width: 10px;
  }
  .region-country {
    margin-left: -15px;
    display: block;
    width: 100%;
  }
}
