/* mui guest-details input */
.css-gga68z-MuiInputBase-input {
  padding: 35px 0 5px !important;
}

/* mui birthday input */
.css-1le28he-MuiInputBase-root {
  width: 126%;
}

.css-35wrdh-MuiPaper-root-MuiCard-root {
  background-color: none !important;
}

.birthday {
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.54);
}

.button-register {
  width: 100px !important;
  background-color: #71c7b8 !important;
  float: right !important;
}

.recapcha {
  margin-left: 900px !important;
  width: 530px !important;
  margin-top: 20px !important;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
  margin-top: 7px;
}

.css-h93ljk-MuiTypography-root {
  font-family: 'Playfair Display', serif !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Montserrat', sans-serif !important;
}

.css-186q1z4-MuiTypography-root {
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 5px !important;
  margin-bottom: 25px !important;
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: white;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.MuiGrid-spacing-xs-1 {
  width: calc(95% + 8px);
  margin: -4px;
}

.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
  padding: 15px 70px 15px 70px !important;
}

.css-honmcm-MuiGrid-root > .MuiGrid-item {
  padding-left: 48px;
  margin-bottom: -20px;
  margin-left: -9px;
  margin-right: -20px;
}

@media screen and (max-width: 1520px) {
  .div.MuiCardPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    max-width: 1455px;
    padding: 20px 5px;
    margin: 0px auto;
  }
}

@media screen and (device-width: 375px) and (device-height: 667px) {
  .css-vj1n65-MuiGrid-root {
    margin-left: -20px !important;
  }

  .register {
    margin-top: 0;
  }

  .recapcha {
    margin-left: 55px !important;
    width: 100px !important;
    margin-top: 20px !important;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 335px;
  }

  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
    width: 306px !important;
  }
}
