.payment {
  margin-top: -180px;
  padding: 30px;
}

/* payment one content */
.css-1k67w8c-MuiPaper-root {
  background-color: #f9f9f9 !important;
}
/* mui h3 */
/* .css-cnd76u-MuiPaper-root {
  text-align: start !important; */

.item {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}
/* .items h3 {
  font-size: 20px !important;
  color: black;
} */

/* .payment-content p {
  text-align: right;
  font-size: 15px !important;
}

.items p {
  margin-top: -35px;
  text-align: right;
  font-size: 15px !important;
} */

.btn-payment {
  float: right;
}

.payments {
  display: flex;
}

.payment-content-one {
  display: contents;
}

.payment-cards {
  display: contents;
}

@media screen and (device-width: 375px) and (device-height: 667px) {
  .css-1f6u4kq-MuiGrid-root {
    margin-left: -40px !important;
  }

  .item {
    width: 51vh;
  }

  .payment {
    margin-top: 0px;
  }
  /* .payment-content-one {
    display: block;
  } */

  /* mui content h3 */
  .css-cnd76u-MuiPaper-root {
    width: 340px;
  }

  /* .items h3 {
    font-size: 15px !important;
    color: black;
  }
  .items p {
    font-size: 10px !important;
  } */
  /* .css-1f6u4kq-MuiGrid-root > .MuiGrid-item {
    display: none !important;
  } */
  /* payment content o*/
  .css-ayy8wd-MuiGrid-root {
    max-width: 51% !important;
  }
}
