/* subtitle */
.css-1hw62bl-MuiTypography-root {
  font-size: 16px !important;
}

/* guest details  */
.css-mhc70k-MuiGrid-root {
  margin-top: -10px !important;
  margin-bottom: 30px !important;
}

@media screen and (device-width: 375px) and (device-height: 667px) {
  /* booking title */
  .css-f725qg-MuiTypography-root {
    font-size: 19px !important;
  }
  .css-a5rdam-MuiGrid-root {
    display: none !important;
  }
}
