/* subtitle */
.css-1hw62bl-MuiTypography-root {
  font-size: 16px !important;
}

/* guest details  */
.css-mhc70k-MuiGrid-root {
  margin-top: -10px !important;
  margin-bottom: 30px !important;
}
@media screen and (device-width: 375px) and (device-height: 667px) {
  .css-ayy8wd-MuiGrid-root {
    max-width: 100% !important;
  }
}
