/* mui input border radius */
.css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 4px !important;
}

/* mui input */
.css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
  width: 286px !important;
}

@media screen and (device-width: 375px) and (device-height: 812px) {
  .css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
    width: 320px !important;
  }
  .css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 4px !important;
  }
}
@media screen and (device-width: 414px) and (device-height: 736px) {
  .css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
    width: 355px !important;
  }
  .css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 4px !important;
  }
  .css-uhas1q {
    width: 355px !important;
    border-radius: 4px !important;
  }
}
@media screen and (device-width: 375px) and (device-height: 667px) {
  .css-uhas1q {
    width: 355px !important;
    border-radius: 4px !important;
  }
}
@media screen and (device-width: 320px) and (device-height: 568px) {
  /* border radius and width of textfield */
  .css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
    width: 262px !important;
  }
  .css-1qccgt9-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 4px !important;
  }
  .css-uhas1q {
    width: 355px !important;
    border-radius: 4px !important;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) {
  .css-uhas1q {
    width: 355px !important;
    border-radius: 4px !important;
  }
}
