/* .css-1wcaknn {
  padding: 0px !important;
} */
/* payment price details */
.css-zow5z4-MuiGrid-root {
  margin-bottom: -10px !important;
}

@media screen and (device-width: 375px) and (device-height: 667px) {
  .css-1wcaknn {
    padding: 0px !important;
    margin-top: 58px;
  }
}
